<!doctype html>
<html ng-app="friendsList">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./reset.css">
    <!--These will be the custom styles-->
    <link rel="stylesheet" href="./stylesheet.css">
    <title>title here</title>
</head>
<body ng-controller= "mainCtrl">

    <main>
      <input type="text" name="friendName" value="" maxlength="100" ng-model="friend" />
      <input type="submit" value="Submit" ng-click="addFriend(friend)" />
      <div ng-repeat="friend in friends" class="example">
        <h1>
          {{friend}}
        </h1>
      </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js">
    </script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <!-- Don't put anything after this... -->
</body>
</html>
